ctos/src/main/resources/toWsdl/CTOS.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://module.com/parser/entity/test/CTOS" targetNamespace="http://module.com/parser/entity/test/CTOS">

  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://module.com/parser/entity/test/CTOS" xmlns:ns1="http://module.com/parser/entity/launch" xmlns:ns2="http://module.com/parser/entity/result" elementFormDefault="qualified" targetNamespace="http://module.com/parser/entity/test/CTOS">
      <xs:import namespace="http://module.com/parser/entity/result" schemaLocation="result.xsd"/>
      <xs:import namespace="http://module.com/parser/entity/launch" schemaLocation="launch.xsd"/>
      <xs:element name="doLogin">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ns1:login" name="login" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doLoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="return" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doLoginResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ns2:loginResult" name="loginResult" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="doLoginResultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="return" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="doLoginMessage">
    <wsdl:part name="part" element="tns:doLogin"/>
  </wsdl:message>
  <wsdl:message name="doLoginResponseMessage">
    <wsdl:part name="part" element="tns:doLoginResponse"/>
  </wsdl:message>
  <wsdl:message name="doLoginResultMessage">
    <wsdl:part name="part" element="tns:doLoginResult"/>
  </wsdl:message>
  <wsdl:message name="doLoginResultResponseMessage">
    <wsdl:part name="part" element="tns:doLoginResultResponse"/>
  </wsdl:message>

  <wsdl:portType name="CTOSPortType">
    <wsdl:operation name="doLogin">
      <wsdl:input message="tns:doLoginMessage"/>
      <wsdl:output message="tns:doLoginResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="doLoginResult">
      <wsdl:input message="tns:doLoginResultMessage"/>
      <wsdl:output message="tns:doLoginResultResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CTOSBinding" type="tns:CTOSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="doLogin">
      <soap:operation soapAction="urn:doLogin"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doLoginResult">
      <soap:operation soapAction="urn:doLoginResult"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="CTOS">
    <wsdl:port name="CTOSPort" binding="tns:CTOSBinding">
      <soap:address location="http://localhost:8080/axis2/services/CTOS"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>